body{
    background-color: rgb(65, 82, 69);
    color: rgb(107, 114, 110);
    font-weight: bold;
    font-size: 150%;
    font-family: 'Ubuntu', sans-serif;
}

body input{
    border:none;
    padding: 5px;
    background-color:rgb(39, 49, 41);
    border-radius: 5px;
    outline: none;
    color: rgb(107, 114, 110);
    padding-left: 10px;
}

.header{
    padding: 20px;
    height: 100px;
    background-color: rgb(54, 68, 57);
    margin-bottom: 20px;
}
.gifDiv{
    width:auto;
    background: linear-gradient(rgb(65, 82, 69), rgb(54, 68, 57));
    height: 300px;
    border: 1px solid rgb(72, 92, 78);
    margin: 10px 10px 10px 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
}

.gifDiv p {
    color: white;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 75%;
}

.topics{
    margin-bottom: 20px;
    margin-left: 15px;
    height: auto;
    border-bottom: 1px solid rgb(107, 114, 110);
    padding-bottom: 20px;
    margin-right: 20px;
}

.topics button{
    font-family: 'Ubuntu', sans-serif;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px 10px 15px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(54, 68, 57);
    outline: none;
    
}
#topic-form{
    margin-bottom: 20px;
}

.topics button:hover{
    transform: scale(1.25);
    box-shadow: 0px 2px 0px #00000041;
}

.button{
    font-family: 'Ubuntu', sans-serif;
    border: none;
    border-radius: 5px;
    color: rgb(39, 49, 41);
    padding: 10px 15px 10px 15px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(107, 114, 110);
    outline: none;
}

.button:hover{
    transform: scale(1.10);
    box-shadow: 0px 2px 0px #00000041;
}
